
.home-page-container {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.display-window-container {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
}

.key-selector-container {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
}

.note-selector-container {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
}

.sharp-or-flat-container {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
}