
.main-display{
  width: 50vw;
  aspect-ratio: 16 / 9;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #000000;
}





.grid-container {
    gap: 10px; /* Adjust the gap between grid items if needed */
}

.grid-item {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}
